<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_launcher"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:theme="@style/AppTheme">
        <activity android:name=".usescase.splash.SplashActivity" android:noHistory="true"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".usescase.products.ProductsActivity"
                android:label="@string/products_title"
                android:parentActivityName=".usescase.main.MainActivity" />
        <activity
                android:name=".usescase.products.ProductResultActivity"
                android:label="@string/product_result_title"
                android:parentActivityName=".usescase.products.ProductsActivity" />
        <activity
                android:name=".usescase.products.ProductsDetailActivity"
                android:label="@string/title_activity_additives" android:noHistory="true"/>
        <activity
                android:name=".usescase.additives.AdditivesActivity"
                android:label="@string/title_activity_additives"
                android:parentActivityName=".usescase.main.MainActivity"/>
        <activity
                android:name=".usescase.additives.AdditiveDetailActivity"
                android:label="@string/title_activity_additives"
                android:parentActivityName=".usescase.additives.AdditivesActivity"/>
        <activity
                android:name=".usescase.main.MainActivity"
                android:label="@string/title_activity_main"/>
        <activity
                android:name=".usescase.common.ComingSoonActivity"
                android:label="Información"/>
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>

        <activity
                android:name=".usescase.tutorial.TutorialActivity"
                android:label="Tutorial"
                android:theme="@style/Theme.Material3.DayNight.NoActionBar"/>

    </application>

</manifest>